<h1>Wines Available as of <%= formatted_time(@available_at) %></h1>
<ol>
   <% @wines.each do |wine| %>
     <li><%= link_to(wine.name, wine) %> of varietal <%= wine.varietal %> from <%= wine.winery %></li>
   <% end %>
 </ol>  

 